.card-holder {
    /* display: flex; */
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 400px) {
    .card-holder {
        flex-direction: column;
        justify-content: center;
    }
    .readmore {
        display: none;
    }
}

.blog-block {
    width: 380px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.blog-card {
    width: 100%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.blog-card:hover {
    -webkit-transform:translateY(-8px) scale(1.01);
    transform: translateY(-8px) scale(1.005);
    background-color: rgb(246, 251, 255);
}

/* .blog1{
    background-image: url("images/work-5");
} */

.blog-title {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.blog-intro {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: rgb(68, 68, 68);
    font-size: 14px;
    text-decoration: none;
}
.readmore {
    color: rgb(6, 90, 168);
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    text-decoration: none;
}
