.author-sign-container {
    display: flex;
    height: 100px;
    width: 300px;
}

.author-sign-pic {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.author-sign {
    text-align: left;
    color: #007bff;
    padding-left: 5px;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-right: 5px;
}

.viewer-response-box {
    height: 300px;
    padding-left: 150px; 
    padding-right: 150px; 
    padding-top: 3px; 
    padding-bottom: 3px;
}

.btn-container {
    height: 50px;
    width: 250px;
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.facebook-btn {
    height: 40px;
    width: 100px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.comment-props {
    min-height: 200px;
    overflow: scroll;
}