a {
    text-decoration: none !important;
}

.embed-responsive {
    width: 100%;
    padding-top: 50%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.not-upgraded-holder {
	display: none;
}
.top-reklam-holder {
	font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	overflow: auto;
	margin-top: 20px;
}
.top-reklam-holder-free {
	font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding-bottom: 40px;
	overflow: auto;
	margin-top: 20px;
}
.top-reklam-holder .fa {
	padding-right: 5px;
}
.logo {
	margin-top: 3px;
}
.logo img {
	width: 200px;
}
.floated-noprem {
	float: left;
	width: 33.3%;
}
.top-reklam-holder-prem {
	text-align: center;
}
.top-reklam-holder-prem a {
	margin-left: 10px;
	margin-right: 10px;
}
.floated {
	 float: left;
	 width: 33.33%;
}
.middle {
	text-align: center;
}
.right {
	text-align: right;
}
.top-reklam-button-white {
	border: 1px solid white;
	color: white !important;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
	min-width: 150px;
	display: inline-block;
	text-align: center;
}
.top-reklam-button-gray {
	border: 1px solid #b2b2b2;
	color: #6d6d6d !important;
	font-size: 14px;
	padding: 3px;
	border-radius: 5px;
	min-width: 150px;
	display: inline-block;
	text-align: center;
	background: white;
}
.top-reklam-button-gray .fa {
	color: #6d6d6d !important;
}
.admin-bar-cv {
	width: 100%;
	padding: 5px;
	font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
}
.admin-bar-text {
	display: block;
}
.admin-bar-small-text {
	font-size: 10px;
	display: block;
}
.admin-bar-inner {
	max-width: 1000px;
	color: white;
	margin: 0px auto;
}
.red-back {
	background: #bb5252;
}
.green-back {
	background: #419941;
}
.admin-bar-link {
	text-decoration: none !important;
}

.ql-indent-1 {
  margin-left: 20px;
}
.ql-indent-2 {
  margin-left: 40px;
}
.ql-indent-3 {
  margin-left: 60px;
}
.ql-indent-4 {
  margin-left: 80px;
}

.pjs-render .hidden-xs {
    display: initial !important;
}

.pjs-render .col-sm-3 {
	width: 25%;
	float: left;
}

.pjs-render .col-sm-4 {
	width: 33.33333333%;
	float: left;
}

.pjs-render .col-sm-6 {
	width: 50%;
	float: left;
}

.pjs-render .col-sm-8 {
	width: 66.66666667%;
	float: left;
}

.pjs-render .col-sm-9 {
	width: 75%;
	float: left;
}

.pjs-render .col-md-12 {
	width: 100%;
	float: left;
}

@media (max-width: 767px) {
	.logo img {
		width: 100%;
		height: auto;
	}
.top-reklam-button-gray {
	font-size: 12px;
	min-width: 90px !important;
	padding: 0px 10x;
}
.top-reklam-button-white {
	font-size: 12px;
	min-width: 90px !important;
	padding: 0px 10x;
}
}
@media print {
	.top-reklam-holder {
		display: none !important;
	}
	.brevochcv-meny {
		display: none !important;
	}
	.top-reklam-button-white {
		display: none !important;
	}
	.top-reklam-button-gray {
		display: none !important;
	}
	.admin-bar-cv {
		display: none !important;
	}
	.not-upgraded-holder {
	display: block;
	height: 5000px;
	position: absolute;
	width: 100%;
	text-align: center;
	}
	.watermark-left {
		background: black;
		height: 100%;
		width: 20px;
		position: absolute;
		top: 0;
		left: 200px;
		z-index: 100;
	}
	.watermark-right {
		background: black;
		height: 100%;
		width: 20px;
		position: absolute;
		top: 0;
		right: 200px;
		z-index: 100;
	}
	.not-upgraded-inner {
		margin-top: 300px;
		background: rgba(128, 128, 128, 0.54);
		padding: 100px 20px;
		border: 1px solid black;
		color: white;
		font-size: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}
}
